html{
text-align: center;
background-color: antiquewhite;
}
    nav{
         background-color:whitesmoke;
        }
            p{
                background-color: rgb(178, 231, 200);
                }
                    li{
                        text-align: left;
                        }
                        